<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Mental&Physical Health</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col-md-12 title"><h2>Team Members</h2></div>
</div>
<div class="container-fluid container-box">
  <div class="row" style="margin-bottom:40px;">
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <%= image_tag 'Nantapat.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <p class="card-text">นางสาวนันทพัทธ์ เธียรภาณุเดช</p>
          <p class="card-text">5810613272</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <%= image_tag 'Muntita.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <p class="card-text">นางสาวมัณฑิตา เวียงธรรม</p>
          <p class="card-text">6010613427</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <%= image_tag 'Onpreeya.jpg', class: 'card-img-top' %>
      <div class="card-body">
        <p class="card-text">นางสาวอรปรียา กิจพฤกษ์</p>
        <p class="card-text">6010613526</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <%= image_tag 'daravilai.jpg', class: 'card-img-top' %>
      <div class="card-body">
        <p class="card-text">นางสาวดาราวิไล เชียงปวน</p>
        <p class="card-text">6010613559</p>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 title"><h2 class="inline">Proposal</h2>
  <a href="https://drive.google.com/file/d/17LSlg7y-ALyXaZbPpbekPHqev-Ykz3LK/view?usp=sharing" class="btn btn-primary btn-lg active button-custom" target="_blank" role="button" aria-pressed="true">Click!</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 title"><h2>User stories</h2></div>
</div>
<div class="align">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="false">
        <%= image_tag '01.jpg', class: 'd-block w-60' %>
      </div>
      <div class="carousel-item" data-interval="false">
      <%= image_tag '02.jpg', class: 'd-block w-60' %>
      </div>
      <div class="carousel-item" data-interval="false">
      <%= image_tag '03.jpg', class: 'd-block w-60' %>
      </div>
      <div class="carousel-item" data-interval="false">
      <%= image_tag '04.jpg', class: 'd-block w-60' %>
      </div>
      <div class="carousel-item" data-interval="false">
      <%= image_tag '05.jpg', class: 'd-block w-60' %>
      </div>
      <div class="carousel-item" data-interval="false">
      <%= image_tag '06.jpg', class: 'd-block w-60' %>
      </div>
      <div class="carousel-item" data-interval="false">
      <%= image_tag '07.jpg', class: 'd-block w-60' %>
      </div>
      <div class="carousel-item" data-interval="false">
      <%= image_tag '08.jpg', class: 'd-block w-60' %>
      </div>
      <div class="carousel-item" data-interval="false">
      <%= image_tag '09.jpg', class: 'd-block w-60' %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 title"><h2 class="inline">GitLab</h2>
  <a href="https://gitlab.com/5810613272/mnphealth.git" class="btn btn-primary btn-lg active button-custom" target="_blank" role="button" aria-pressed="true">Click!</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 title"><h2 class="inline">Pivotal tracker</h2>
  <a href="https://www.pivotaltracker.com/n/projects/2407276" class="btn btn-primary btn-lg active button-custom" target="_blank" role="button" aria-pressed="true">Click!</a>
  </div>
</div>